.clear{
  clear: both;
}
*{
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
img{
  max-width: 100%;
  height: 100%;
}
.site{
  font-family: "Tahoma";
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  margin-top: 50px;
  border-bottom: 1px solid lightblue;
  padding-bottom: 30px;
}
.header .menu{
  margin-top: 50px;
  float: right;
}
.header .menu li{
  margin-left: 20px;
  float: left;
}
.header .logo{
  float: left;
}
.header .menu li a{
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 15px;
}
.header .menu li.active a{
  color: white!important;
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
}
.header .menu li a:hover{
  color: lightblue;
}
.content{
  margin-top: 30px;
}
.content-title{
  background-color: lightblue;
  padding-top: 10px;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.products{
  margin-top: 10px;
}
.products .item{
  float: left;
  border: 1px solid black;
  width: 240px;
  height: 240px;
  margin-left: 20px;
  text-align: center;
}
.products .item:first-child{
  margin-left: 0;
}
.title-blog{
  margin-top: 20px;
}
.blog-posts{
  margin-top: 10px;
}
 .blog-posts .items{
  width: 500px;
  float: left;
  margin-left: 20px;
}
.blog-posts .items:first-child{
  margin-left: 0;
}
.blog-posts .items img{
  float: left;
  width: 120px;
  height: 120px;
}
.blog-posts .items .items-text{
  float: left;
  width: 360px;
  height: 100px;
  margin-left: 20px;
  position: relative;
}

.items .items-text p.items-titles{
  font-weight: 700px;
  font-size: 18px;
}
.items .items-text p.description{
  overflow-y: scroll;
  margin-top: 10px;
  font-size: 12px;
}
.items .items-text p.date{
  font-size:12px;
  background-color: black;
  color: white;
  padding: 3px;
  width: 70px;
  margin-top: 10px;
  display: inline-block;
  bottom: 0;
}
.footer{
  color:gray;
  font-size: 12px;
  margin-top: 60px;
  border-top: 1px solid gray;
  padding-top: 10px;
}
